<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FerrariJobInfoMapper">
	
	<resultMap id="ferrariJobInfo" type="com.cip.ferrari.admin.core.model.FerrariJobInfo" >
		<result column="id" property="id" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
	    <result column="job_group" property="jobGroup" />
	    <result column="job_name" property="jobName" />
	    <result column="job_key" property="jobKey" />
	    <result column="job_desc" property="jobDesc" />
	    <result column="owner" property="owner" />
	    <result column="mail_receives" property="mailReceives" />
	    <result column="fail_alarm_num" property="failAlarmNum" />
	    <result column="is_deleted" property="isDeleted" />
	</resultMap>
	
	<sql id="All_Column_List">
		id,
		add_time,
		update_time,
		job_group,
		job_name,
		job_key,
		job_desc,
		owner,
		mail_receives,
		fail_alarm_num,
		is_deleted
	</sql>
	
	<insert id="save" parameterType="com.cip.ferrari.admin.core.model.FerrariJobInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO FRI_QRTZ_JobInfo (
			`add_time`,
			`update_time`,
			`job_group`, 
			`job_name`, 
			`job_key`, 
			`job_desc`, 
			`owner`, 
			`mail_receives`, 
			`fail_alarm_num`, 
			`is_deleted`
		) VALUES (
			now(),
			now(),
			#{jobGroup}, 
			#{jobName}, 
			#{jobKey}, 
			#{jobDesc}, 
			#{owner}, 
			#{mailReceives}, 
			#{failAlarmNum}, 
			#{isDeleted}
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>
	
	<select id="pageList" parameterType="java.util.HashMap" resultMap="ferrariJobInfo">
		SELECT <include refid="All_Column_List" />
		FROM FRI_QRTZ_JobInfo AS t
		WHERE t.is_deleted = 0
		<if test="jobGroup != null and jobGroup !=''">
			AND t.job_group = #{jobGroup}
		</if>
		<if test="jobKey != null and jobKey !=''">
			AND t.job_key like CONCAT(CONCAT('%', #{jobKey}), '%')
		</if>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}
	</select>
	
	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM FRI_QRTZ_JobInfo AS t
		WHERE t.is_deleted = 0
		<if test="jobGroup != null and jobGroup !=''">
			AND t.job_group = #{jobGroup}
		</if>
		<if test="jobKey != null and jobKey !=''">
			AND t.job_key like CONCAT(CONCAT('%', #{jobKey}), '%')
		</if>
	</select>
	
	<select id="get" parameterType="java.lang.Integer" resultMap="ferrariJobInfo">
		SELECT <include refid="All_Column_List" />
		FROM FRI_QRTZ_JobInfo
		WHERE id = #{id}
		AND   is_deleted = 0
	</select>
	
	<select id="getByKey" parameterType="java.lang.String" resultMap="ferrariJobInfo">
		SELECT <include refid="All_Column_List" />
		FROM FRI_QRTZ_JobInfo
		WHERE job_key = #{jobKey}
		AND   is_deleted = 0
	</select>
	
	<update id="removeJob" parameterType="java.lang.String" >
		update FRI_QRTZ_JobInfo
		set is_deleted = 1,
			update_time = now()
		where job_key = #{jobKey}
		AND   is_deleted = 0
	</update>
	
	<update id="updateJobInfo" parameterType="com.cip.ferrari.admin.core.model.FerrariJobInfo" >
		update FRI_QRTZ_JobInfo
		set job_desc = #{jobDesc}, 
			owner = #{owner}, 
			mail_receives = #{mailReceives}, 
			fail_alarm_num = #{failAlarmNum},
			update_time = now()
		WHERE id = #{id}
	</update>
	
</mapper>